In [58]:
!pip install nltk sklearn

Requirement already satisfied: nltk in /usr/local/lib/python3.11/dist-packages (3.9.1)
Collecting sklearn
  Downloading sklearn-0.0.post12.tar.gz (2.6 kB)
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
  Preparing metadata (setup.py) ... error
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

In [59]:
import nltk
import pandas as pd
from nltk.corpus import stopwords as nltk_stopwords
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS as sklearn_stopwords
nltk_stopwords.words('english')
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [60]:
# Combine stopwords into a single set
all_stopwords = set(nltk_stopwords.words('english')).union(set(sklearn_stopwords))
print(f"Total number of unique stopwords from NLTK and scikit-learn: {len(all_stopwords)}")

Total number of unique stopwords from NLTK and scikit-learn: 397

In [86]:
from collections import Counter
corpus_names = [name for name in dir(nltk.corpus) if not name.startswith('_')]
top20 = []
results = []

for name in corpus_names:
    try:
        corpus = getattr(nltk.corpus, name)
        if hasattr(corpus, 'words'):
            raw_count = len(corpus.words())
            fil_corpus = [word for word in corpus.words() if word not in all_stopwords]
            stop_corp = [word for word in corpus.words() if word in all_stopwords]
            counts = Counter(stop_corp)
            filtered_count = len(fil_corpus)
            top20.append(counts.most_common(20))
            results.append({'corpus': name, 'word_count': raw_count, 'word_count_without_stopwords': filtered_count, 'percentage_removed': (1 - (filtered_count / raw_count)) * 100 })
    except Exception:
        continue  # skip any that fail

# Make and display the DataFrame
df = pd.DataFrame(results).sort_values(by='word_count', ascending=False)
print(df)

                   corpus  word_count  word_count_without_stopwords  \
18                  jeita     3254399                       3250655
15              gutenberg     2621613                       1505565
7                comtrans     1978268                       1643819
31                reuters     1720901                       1258365
22          movie_reviews     1583820                        875409
20             mac_morpho     1170095                        953771
2                   brown     1161192                        674660
23           multext_east     1054921                        955219
48                  udhr2      926859                        883679
32                 semcor      820411                        479739
0                     abc      766811                        470377
9               conll2002      678377                        606108
21            masc_tagged      592536                        375761
47                   udhr      585240                        552477
3                cess_cat      503853                        443160
30              pros_cons      420182                        336460
35            state_union      399822                        228730
49                webtext      396733                        275232
14                genesis      315268                        261219
8               conll2000      259104                        171750
37           subjectivity      240576                        137278
50                  words      236736                        236315
33      sentence_polarity      224073                        128187
12               floresta      211852                        172250
39             swadesh110      202340                        201286
4                cess_esp      192686                        170119
16              inaugural      156288                         79952
10              conll2007      145156                        133510
6   comparative_sentences      142770                         80299
1                  alpino      139820                        125994
40             swadesh207      139672                        139045
5                 cmudict      133737                        133199
46           treebank_raw      101794                         68927
44               treebank      100676                         69400
45         treebank_chunk       94200                         62906
11    dependency_treebank       94084                         62808
34        sinica_treebank       91634                         91634
29      product_reviews_2       84619                         48438
41            switchboard       82792                         49466
28      product_reviews_1       73832                         38300
19                   knbc       66952                         66952
17                 indian       48754                         48754
26               nps_chat       45010                         31301
36              stopwords       11009                         10326
24                  names        7944                          7944
27        opinion_lexicon        6789                          6783
25   nonbreaking_prefixes        5203                          5142
38                swadesh        4935                          4840
42                  timit        1394                           742
13             gazetteers        1211                          1211
43           timit_tagged        1079                           577

    percentage_removed
18            0.115044
15           42.571043
7            16.906152
31           26.877548
22           44.727999
20           18.487730
2            41.899359
23            9.451134
48            4.658745
32           41.524553
0            38.658027
9            10.653221
21           36.584275
47            5.598216
3            12.045775
30           19.925175
35           42.792042
49           30.625383
14           17.143827
8            33.713876
37           42.937783
50            0.177835
33           42.792304
12           18.693239
39            0.520905
4            11.711801
16           48.843161
10            8.023092
6            43.756391
1             9.888428
40            0.448909
5             0.402282
46           32.287758
44           31.065994
45           33.220807
11           33.242634
34            0.000000
29           42.757537
41           40.252681
28           48.125474
19            0.000000
17            0.000000
26           30.457676
36            6.204015
24            0.000000
27            0.088378
25            1.172401
38            1.925025
42           46.771879
13            0.000000
43           46.524560

In [95]:
df.style.format({'percentage_removed': "{:.2f}%", 'word_count_without_stopwords': "{:,}", 'word_count': "{:,}"})
print(df.to_markdown())

|    | corpus                |   word_count |   word_count_without_stopwords |   percentage_removed |
|---:|:----------------------|-------------:|-------------------------------:|---------------------:|
| 18 | jeita                 |      3254399 |                        3250655 |            0.115044  |
| 15 | gutenberg             |      2621613 |                        1505565 |           42.571     |
|  7 | comtrans              |      1978268 |                        1643819 |           16.9062    |
| 31 | reuters               |      1720901 |                        1258365 |           26.8775    |
| 22 | movie_reviews         |      1583820 |                         875409 |           44.728     |
| 20 | mac_morpho            |      1170095 |                         953771 |           18.4877    |
|  2 | brown                 |      1161192 |                         674660 |           41.8994    |
| 23 | multext_east          |      1054921 |                         955219 |            9.45113   |
| 48 | udhr2                 |       926859 |                         883679 |            4.65875   |
| 32 | semcor                |       820411 |                         479739 |           41.5246    |
|  0 | abc                   |       766811 |                         470377 |           38.658     |
|  9 | conll2002             |       678377 |                         606108 |           10.6532    |
| 21 | masc_tagged           |       592536 |                         375761 |           36.5843    |
| 47 | udhr                  |       585240 |                         552477 |            5.59822   |
|  3 | cess_cat              |       503853 |                         443160 |           12.0458    |
| 30 | pros_cons             |       420182 |                         336460 |           19.9252    |
| 35 | state_union           |       399822 |                         228730 |           42.792     |
| 49 | webtext               |       396733 |                         275232 |           30.6254    |
| 14 | genesis               |       315268 |                         261219 |           17.1438    |
|  8 | conll2000             |       259104 |                         171750 |           33.7139    |
| 37 | subjectivity          |       240576 |                         137278 |           42.9378    |
| 50 | words                 |       236736 |                         236315 |            0.177835  |
| 33 | sentence_polarity     |       224073 |                         128187 |           42.7923    |
| 12 | floresta              |       211852 |                         172250 |           18.6932    |
| 39 | swadesh110            |       202340 |                         201286 |            0.520905  |
|  4 | cess_esp              |       192686 |                         170119 |           11.7118    |
| 16 | inaugural             |       156288 |                          79952 |           48.8432    |
| 10 | conll2007             |       145156 |                         133510 |            8.02309   |
|  6 | comparative_sentences |       142770 |                          80299 |           43.7564    |
|  1 | alpino                |       139820 |                         125994 |            9.88843   |
| 40 | swadesh207            |       139672 |                         139045 |            0.448909  |
|  5 | cmudict               |       133737 |                         133199 |            0.402282  |
| 46 | treebank_raw          |       101794 |                          68927 |           32.2878    |
| 44 | treebank              |       100676 |                          69400 |           31.066     |
| 45 | treebank_chunk        |        94200 |                          62906 |           33.2208    |
| 11 | dependency_treebank   |        94084 |                          62808 |           33.2426    |
| 34 | sinica_treebank       |        91634 |                          91634 |            0         |
| 29 | product_reviews_2     |        84619 |                          48438 |           42.7575    |
| 41 | switchboard           |        82792 |                          49466 |           40.2527    |
| 28 | product_reviews_1     |        73832 |                          38300 |           48.1255    |
| 19 | knbc                  |        66952 |                          66952 |            0         |
| 17 | indian                |        48754 |                          48754 |            0         |
| 26 | nps_chat              |        45010 |                          31301 |           30.4577    |
| 36 | stopwords             |        11009 |                          10326 |            6.20401   |
| 24 | names                 |         7944 |                           7944 |            0         |
| 27 | opinion_lexicon       |         6789 |                           6783 |            0.0883783 |
| 25 | nonbreaking_prefixes  |         5203 |                           5142 |            1.1724    |
| 38 | swadesh               |         4935 |                           4840 |            1.92503   |
| 42 | timit                 |         1394 |                            742 |           46.7719    |
| 13 | gazetteers            |         1211 |                           1211 |            0         |
| 43 | timit_tagged          |         1079 |                            577 |           46.5246    |

In [92]:
print(f'number of corpora in NLTK {len(df)}')
print(f'mean percentage removed {round(df["percentage_removed"].mean(),2)}')
print(f'word count mean {round(df["word_count"].mean(),2)}')

number of corpora in NLTK 51
mean percentage removed 21.91
word count mean 476471.02

In [82]:
from collections import defaultdict
word_counts = defaultdict(int)

for corpus_top_words in top20:
    for word, count in corpus_top_words:
        word_counts[word] += count

# Convert the dictionary to a DataFrame
df_counts = pd.DataFrame(list(word_counts.items()), columns=['word', 'count'])

In [83]:
# Sort by count and display
df_counts = df_counts.sort_values(by='count', ascending=False)
# Select the head first, then apply styling
styled_df_counts = df_counts.head(20).style.format({'count': "{:,}"})
display(styled_df_counts)

In [94]:
print(df_counts.head(20).to_markdown())

|    | word   |   count |
|---:|:-------|--------:|
|  0 | the    |  583580 |
|  4 | a      |  347732 |
|  1 | of     |  321415 |
|  3 | and    |  293456 |
|  2 | to     |  282264 |
|  5 | in     |  217607 |
| 20 | de     |  198037 |
|  6 | is     |  124672 |
|  7 | that   |  117080 |
|  9 | for    |   93184 |
| 11 | it     |   91011 |
| 41 | o      |   78672 |
| 16 | with   |   67409 |
| 35 | as     |   58344 |
| 14 | on     |   57387 |
| 12 | be     |   56757 |
| 21 | was    |   51592 |
| 19 | he     |   49513 |
| 36 | his    |   44172 |
|  8 | s      |   43418 |